.toggle-container {
    position: absolute;
    top: 20px;
    right: 10px;
}

.toggle-input {
    display: none;
}

.toggle-label {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #6baaf2;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    overflow: hidden;
}

.toggle-label .sun,
.toggle-label .moon {
    color: gold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.toggle-label .sun {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg);
}

.toggle-label .moon {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.toggle-input:checked + .toggle-label {
    background-color: #333;
}

.toggle-input:checked + .toggle-label .sun {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(90deg);
}

.toggle-input:checked + .toggle-label .moon {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg);
}